:root {
    --light: #eee;
    --dark: #262626;
    --border: #6b6b6b;
    --background: #343434;
    --primary: rgb(28, 94, 148);
    --primary-hover: rgb(24, 77, 121);
    --grey: #bfbfbf;
    --dark-hover: #343434;
    --tab-hover: #484848
  }

#page {
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.container {
    background-color: var(--background);
    padding: 15px;
}

.tab:hover {
    background-color: var(--tab-hover);
    transition: 0.3s;
    cursor: pointer;
  }

.tab {
    background-color: var(--background);
    border-radius: 8px;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: fit-content;
}

.tab-label {
    justify-content: center;
    margin: auto;
    font-weight: 500;
}

#form-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 20px;
}

#content {
    width: 100%;
    height: fit-content;
    padding-bottom: 60px;
}

#sidebar {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 100%;
    gap: 10px 0px;
}

.content {
    width: 100%;
    margin-left: 200px;
}

.active {
    background-color: #484848;
    transition: 0.3s;
}

#icon1 {
    font-size: 16px;
}

#icon2 {
    font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark-hover);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
  border: 1px solid var(--border);
}

.dropdown-content a {
  color: var(--light);
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  border-top: 1px solid #484848;
}

.dropdown-content a:hover {
    cursor: pointer;
    background-color: #484848;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {display: block;}