{% extends 'base.html' %} {% block head %}

<title>Group 3 assignment 3</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

{% endblock %} {% block body %}
<p class="hidden" id="payload">{{ payload }}</p>
<canvas id="myChart" style="max-width: 800px; height: 600px"></canvas>
<script>
  const regions = [];
  const intensity = [];
  // Initialising arrays to be used for storing the chart data

  const payload = JSON.parse(document.getElementById("payload").innerText);
  // Used Jinja2 syntax (line 8) in HTML element (as this doesn't work in JavaScript) to get rendered data from Flask,
  // then grabbing it from the element it's rendered in

  for (let i = 0; i < payload["data"][0]["regions"].length; i++) {
    regions.push(String(payload["data"][0]["regions"][i]["shortname"]));
    intensity.push(
      parseInt(payload["data"][0]["regions"][i]["intensity"]["forecast"])
    );

    // iterating through each 'regions' entry in the payload, and adding its respective region name and intensity forecast to separate arrays.
  }

  var xValues = regions;
  var yValues = intensity;
  // Adding each array to the values to display on the chart

  var barColor = "#4287f5";
  var text = "Carbon Intensity";

  new Chart("myChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [
        {
          backgroundColor: barColor,
          data: yValues,
        },
      ],
    },
    options: {
      legend: { display: false },
      title: {
        display: true, 
        text: text,
      },
    },
  });
</script>

{% endblock %}
