<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>

<title>Group 3 assignment 3 dashboard</title>

<form action="/" method="post">
  <div id="form-container">
    <input
      type="text"
      name="content"
      class="max-width"
      placeholder="Enter..."
    />
    <input
      type="submit"
      value="Submit POST request"
      class="center-horiz center-vert button"
    />
  </div>
</form>  



<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
<script>
var xValues = ["North Scotland", "South Scotland", "North West England", "North East England", "Yorkshire", "North Wales", "South Wales", "West Midlands", "East Midlands", "East Midlands", "East England", "South West England", "South England", "London", "South East England"];
var yValues = [55, 12, 14, 42, 43, 34, 54, 45, 64, 35, 73, 24, 24, 44, 21]; //insert data here
var barColors = ["red", "orange", "DodgerBlue", "MediumSeaGreen", "Gray", "SlateBlue", "Violet", "LightGray", "Tomato", "#80ff00", "#00ffff","#bfff00","#8000ff","#ffff00","#ff00bf"];
var text = "Carbon Intensity" //insert fuel type that user selects here

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: text
    }
  }
});
</script>

</body>
</html>
