{% extends 'base.html' %} {% block head %}

<title>Group 3 assignment 3</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&"
/>

{% endblock %} {% block body %}
<p class="hidden" id="payload">{{ JSON_response }}</p>
<p class="hidden" id="string-response">{{ string_response }}</p>
<div id="page">
  <div id="sidebar" class="container">
    <div
      id="dashboard"
      class="active tab"
      onclick="hideShow('readme-tabs-content', 'charts-tab-content', 'dashboard', 'docs')"
    >
      <h3 class="tab-label">Dashboard</h3>
    </div>
    <div id="docs" class="tab">
      <h3
        class="tab-label"
        onclick="hideShow('charts-tab-content', 'readme-tabs-content', 'docs', 'dashboard')"
      >
        Docs
      </h3>
    </div>
    <div class="flex-column">
      <!-- Github links -->
      <div class="github-link"></div>
    </div>
  </div>
  <div id="content">
    <div id="charts-tab-content">
      <h1>Charts</h1>
      <canvas
        id="all-regions"
        style="max-width: 100%; min-height: 500px; margin-left: -10px"
      ></canvas>
      <hr style="border: #585858 1px solid; margin: 20px" />
      <div class="flex-row space-around">
        <div style="width: 55%; min-height: 400px">
          <!-- Canvas 1 -->
          <div class="dropdown">
            <button style="align-self: flex-end" class="dropbtn">
              <div class="flex-row space-between">
                <p
                  id="energy-label"
                  style="text-align: center; align-self: center; margin: auto"
                >
                  No energy type
                </p>
                <span id="icon1" class="material-symbols-outlined">
                  keyboard_arrow_down
                </span>
              </div>
            </button>
            <div class="dropdown-content" id="dropdown-content">
              {% for item in
              JSON_response["data"][0]["regions"][0]["generationmix"] %}
              <a onclick="toggleEnergytype({{ loop.index0 }})">
                <!-- Do not change this!!! This is correct Jinja2 syntaxing for Flask, HTML just does not recognise it -->
                {{ item['fuel'] }}
              </a>
              {% endfor %}
            </div>
          </div>

          <canvas
            id="filter-region"
            style="margin-top: 20px; max-height: 400px; width: 55%"
          ></canvas>
        </div>

        <div>
          <!-- Canvas 2 -->
          <div class="dropdown">
            <button style="align-self: flex-end" class="dropbtn">
              <div class="flex-row space-between">
                <p
                  id="region-label"
                  style="text-align: center; align-self: center; margin: auto"
                >
                  No region
                </p>
                <span id="icon2" class="material-symbols-outlined">
                  keyboard_arrow_down
                </span>
              </div>
            </button>
            <div class="dropdown-content">
              {% for item in JSON_response["data"][0]["regions"] %}
              <a onclick="toggleEnergytype({{ loop.index0 }})">
                {{ item['shortname'] }}
              </a>
              {% endfor %}
            </div>
          </div>

          <canvas id="filter-energy-source" style="margin-top: 20px"></canvas>
        </div>
      </div>
    </div>
    <div id="readme-tabs-content" class="hidden">
      <div>
        <md># Example </md>
      </div>
    </div>
  </div>
</div>
<script src="/static/scripts/filterFuel.js"></script>

{% endblock %}
